*{
    margin: 0 auto; 
    padding: 0 auto;
    box-sizing: border-box;
    text-align: center;
    color: rgba(0, 0, 0, 0.603);
}

body {
    background-color: white;
    font-size: 18px;
    font-family:apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
Formatação de menu
*/ 

#menu {
    background-color: #e7bdef;
    
}

#menu ul {
    list-style: none;
    padding: 0;
    background-color:#e7bdef;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    transition: background.3s;
}

#menu ul li a:hover{
    background-color:rgba(194, 104, 104, 0.514);
}

/* Formatação conteúdo
*/

#img {
    margin-top: 0;
    padding-inline-start: -150px;
}
 
.txt {
   background-color: #e7bdef;
   margin: 100px 0;
   padding: 50px;
}

h1, p {
    margin-top: 2px;
    padding: 5px;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/*Formatação colunas
*/
.column {
    display: inline-block;
    margin: 80px 40px;
    margin-bottom:80px;
  }


/*Formatação contato
*/
#contato {
    margin-left: auto;
    width: 300px;
    height: 250px;
    line-height:30px;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    background-color:rgb(212, 255, 224);
    border-radius: 20px;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif
}

/*Formatação rodapé
*/

#rodape {
    clear: both;
    text-align: center;
    background-color:rgb(255, 219, 229);
    padding: 15px;
}

/*Formatação especialidades
*/

#especialidades {
    float: left;
}

/*Formatação galeria
*/

.galeria {
    position: relative;
}
.miniatura img {
    border: 1px solid white;
    margin: 0 5px 0 5px;
}

