*{
    margin: 0 auto; 
    padding: 0 auto;
    box-sizing: border-box;
    text-align: center;
    color: rgba(0, 0, 0, 0.603);
}

body {
    background-color: white;
    font-size: 18px;
    font-family:apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
Formatação de menu
*/ 

#menu {
    background-color: #e7bdef;
    
}

#menu ul {
    list-style: none;
    padding: 0;
    background-color:#e7bdef;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    transition: background.3s;
}

#menu ul li a:hover{
    background-color:rgba(194, 104, 104, 0.514);
}

/* Formatação conteúdo
*/

#img {
    margin-top: 0;
    padding-inline-start: -150px;
}
 
.txt {
   background-color: #e7bdef;
   margin: 100px 0;
   padding: 50px;
}

h1 {
  margin-top: 2px;
  padding: 5px;
  text-align:center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  text-align: center;

}

/*Formatação colunas
*/
.column {
    display: inline-block;
    margin: 80px 40px;
    margin-bottom:80px;
  }


/*Formatação contato
*/
#contato {
    margin-left: auto;
    width: 300px;
    height: 250px;
    line-height:30px;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    background-color:rgb(212, 255, 224);
    border-radius: 20px;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif
}

/*Formatação rodapé
*/

#rodape {
    clear: both;
    text-align: center;
    background-color:rgb(255, 219, 229);
    padding: 15px;
}

/*Formatação especialidades
*/

#especialidades {
    float: left;
}

/*Formatação galeria
*/

/* Slideshow container */
.gallery-container {
    width: 90%;
    position: relative;
    margin: 0 5%;
    padding: 2px;
  }
    @media (min-width: 400px) {
        .gallery-container {
          width: 600px;
          margin: auto;
        }
    }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .imgslide {
    width: 100%;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f5e2e2;
    font-size: 18px;
    font-style:oblique;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  @media (max-width: 600px) {
    .numbertext {
      top: 15px;
    }
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
